@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Airline Services</h1>
    <p class="lead">Whoop whoop marketing speak</p>
    <p><a href="/Flight" class="btn btn-primary btn-lg">Search Flights &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Departing Flights</h2>
        <p>
            List of departing flights in descending
        </p>
    </div>
    <div class="col-md-4">
        <h2>Arriving Flights</h2>
        <p>List of arriving flights in descending</p>
    </div>
    <div class="col-md-4">
        <h2>Recent Customers</h2>
        <p>Most recent customer transactions</p>
    </div>
</div>